@use "./base.scss";

// put your custom CSS here!

.page {

    & article {

        font-size: 1.2rem;

    }

}

#explorer-content {

    ul {

        li {

            a {
                display: block;
                margin-bottom: 8px;
            }

            &:last-child {

                a {
                    margin-bottom: 0;
                }
            }
        }

    }
}